* {
  box-sizing: border-box;
}

body{
  background-image: url("../images/background.png");
  margin: 0;
  height:100%;
}

/* Style Header */

/* Add a black background color to the top navigation */
.header {
  background-color:white;
  overflow: hidden;
  height: 60px;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 0;
  border-bottom: solid 1px #dddddd;
 }

/* Style the links inside the navigation bar */
.header a {
  float: left;
  color: #777777;
  text-align: center;
  padding: 0 20px;
  text-decoration: none;
  height: 60px;
  line-height: 60px;
  
}

/* Float my name to the left */
.myName{
  float:left;
  background-color: #4aaaa5;
  color: white;
  margin: 0;
  line-height: 60px;
  padding: 0 40px;
  font-size: 200%;
  height: 60px;
  
}

/* Float the link section to the right */
.navlinks-right {
  float: right
  
}

/* Change the color of links on hover */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.header a.active {
  background-color: #4CAF50;
  color: white;
}

/*Style container that the sites content lies in*/
.content{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 40px;
  margin-bottom: 40px;
  background: white;
  border: solid 1px #dddddd;
  overflow: hidden;
  min-height: calc(100vh - 180px);


}

/* Style the heading inside the container */
.content h2{
  margin-left: 40px;
  margin-right: 40px;
  padding-bottom: 20px;
  border-bottom: solid 2px #dddddd;
  color: #4aaaa5;

}

/* Align profile pic with heading */
#profileImg{
  padding-left: 40px;
  float: left;
  padding-right: 20px;
}

.content p{
  padding-left: 40px;
  padding-right: 40px;
} 




/* Style inputs for the contact form */
input[type=text], input[type=email], select, textarea {
  width: 80%;
  display: block;
  padding: 12px;
  padding-left: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-left: 40px;
  resize: vertical;
}

label{
  margin-left: 40px;
  color: #777777;
}

input[type=submit] {
  background-color: #4aaaa5;
  color: white;
  padding: 12px 20px;
  border: none;
  margin-left: 40px;
  margin-bottom: 40px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the project tiles for the portfolio page*/

.content ul{
  list-style-type: none;
  padding-top: 20px;
}

.content li{
  float: left;
}

.projectTile{
  height: 150px;
  width: 200px;
  margin-right: 50px;
  margin-bottom: 50px;
  position: relative;
  
}

.projectTile img{
  height: 150px;
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
}

li a{
  text-decoration: none;
}

.projectName{
  height: 30px;
  width: 200px;
  background-color: #4aaaa5;
  color: white;
  line-height: 30px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Style Footer */

footer{
  background-color: #666666;
  text-align: center;
  border-top: solid 3px #4aaaa5;
  width: 100%;
  clear: both;
  position: relative;
  height: 40px;
  line-height: 40px;
}
  
  
